{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ super() }}{% endblock %}

{% block hcard %} h-entry{% endblock %}

{% block page_title %}<h1 class="p-name">{{ article.title }}</h1>{% endblock %}

{% block content %}
<section class="article e-content">
    {{ article.content }}
</section>
<aside class="article-meta">
    <p>
        Par <a href="{{ SITEURL }}/{{ article.author.url }}" rel="author" class="p-author">{{ article.author }}</a>.
        <br />Publié le <time class="published dt-published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>.
        <br />Dans la catégorie <a href="{{ SITEURL }}/{{ article.category.url }}" class="article-category p-category">{{ article.category.name }}</a>
    </p>
    {% if article.tags %}
    <p class="article-tags">
        Tagué dans
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="article-tag p-category">{{ tag.name }}</a>{{ "," if not loop.last }}
        {% endfor %}
    </p>
    {% endif %}
</aside>
{% endblock %}
