<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <title>{% block title %}Florian Strzelecki{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/blog.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css" />
        {% endblock %}
    </head>
    <body>
        {% block page_nav %}
        <nav>
            <a href="{{ SITE_URL }}/">Accueil</a>
        </nav>
        {% endblock %}
        {% block page_title %}<h1>Florian Strzelecki</h1>{% endblock %}
        {% block page_content %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
