{% extends "base.html" %}

{% block title %}{{ tag.name|striptags }}{% endblock %}

{% block hcard %} h-feed{% endblock %}

{% block page_title %}<h1 class="p-name">{{ tag.name }}</h1>{% endblock %}

{% block content %}
<section class="tag page-list">
    <p class="p-summary">Tous les articles du tag
        "{{ tag.name }}", du plus récent au plus ancien.</p>
    <ul>
        {% for article in dates %}
        <li class="h-entry">
            <time class="published dt-published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            <a href="{{ SITEURL }}/{{ article.url }}" class="u-url" rel="bookmark" title="Permalien vers {{ article.title|striptags }}">
                <span class="p-name">{{ article.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
