* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 20px;
}

body {
    font-family: "Liberation Sans", Arial, serif;
    background-color: #fefeff;
    padding: 1em;
}

img {
    max-width: 100%;
}

a {
    color: #005bbc;
    text-decoration-skip-ink: auto;
    font-size: inherit;
}

a:hover {
    color: rebeccapurple;
}

h1 {
    font-size: 2.5em;
    margin-top: 0.5em;
}
h2 {
    font-size: 2em;
}
* + h2, .section h2 {
    margin-top: 0.5em;
}

h3 {
    font-size: 1.5em;
}
* + h3, .section h3 {
    margin-top: 0.5em;
}

h4 {
    font-size: 1em;
    text-decoration: underline;
    text-decoration-skip: spaces;
    text-decoration-skip-ink: auto;
}

ul, ol {
    margin: 1.5em 2em;
}

li > ul, li > ol {
    margin-top: 0;
    margin-bottom: 0;
}

p, li, pre, blockquote {
    color: #00030c;
    font-size: 1em;
}

blockquote {
    padding-left: 2em;
    margin-top: 1.5em;
    font-family: serif;
    font-style: italic;
}

blockquote i, blockquote em {
    font-style: normal;
}

* + h4 {
    margin-top: 1.5em;
}

.highlight {
    margin: 1.5em 0 0 0;
}

.highlight pre {
    background-color: #DCDCDC;
}

.literal {
    font-family: monospace;
    background-color: #DCDCDC;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.article p {
    text-align: justify;
}

.article p + p, .page-list p + p {
    margin-top: 1.5em;
    text-indent: 1.5em;
}

.article * + table {
    margin-top: 1.5em;
}

blockquote + p,
.figure + p,
.highlight + p {
    margin-top: 1.5em;
}

.topic {
    margin-top: 1.5em;
}

.topic .topic-title {
    font-style: italic;
}

.figure p {
    text-align: right;
}

.article + .article-meta {
    margin-top: 1.5em;
    border-top: 1px solid #808080;
}

.footnote {
    color: #393939;
    font-family: serif;
    font-style: italic;
}

.footnote .label {
    padding: 0 1em;
}

.footnote-reference {
    font-size: 75%;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 65em) {
    .container {
        display: flex;
    }
    .article + .article-meta {
        margin-top: 0;
        margin-left: 1em;
        border-top: 0;
    }
}
.container > * {
    margin: 0;
    max-width: 40em;
}
.page-list {
    width: 100%;
}
